<%-include('header')-%>
            <!-- HEADER DESKTOP-->
                        
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
 <!-- Jquery JS-->
           <!-- MAIN CONTENT-->
            <div class="main-panel">
                <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Product Form</h4>
                            <form action="regi_process" method="POST" id="uploadform" ref='uploadform' enctype="multipart/form-data">
                                            
                                <label for="Product_id" class=" form-control-label">Product_Id</label>
                                <input type="text" placeholder="Enter Product id" name="Product_id" class="form-control">
                                
                                <label for="Pro_name" class=" form-control-label">Product Name</label>
                                <input type="text" placeholder="Enter Product Name" name="Pro_name"class="form-control">
                                
                                <label for="Pro_quantity" class=" form-control-label">Product Quantity</label>
                                <input type="Number" placeholder="Enter Product Quantity" name="Pro_quantity" class="form-control">
                                                                
                                <label for="Product_image" class=" form-control-label">Product_Image</label>
                                <input type="file" name="Pro_image" class="form-control">
                                
                                <label for="Pro_rentprice" class=" form-control-label">Product Rentprice</label>
                                <input type="Number" placeholder="Enter Product Rent Price" name="Pro_rentprice" class="form-control">

                                <label for="Pro_ammount" class=" form-control-label">Product Amount</label>
                                <input type="Number" placeholder="Enter Product Amount " name="Pro_ammount" class="form-control">
                                
                                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                <button class="btn btn-light">Cancel</button>
                                </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js"></script>
        <script src="/vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- inject:js -->
        <script src="/js/off-canvas.js"></script>
        <script src="/js/hoverable-collapse.js"></script>
        <script src="/js/misc.js"></script>
        <script src="/js/settings.js"></script>
        <script src="/js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/form-validation.js"></script>
        <script src="/js/bt-maxLength.js"></script>
        <!-- End custom js for this page-->
        </body>
        <!-- Mirrored from www.urbanui.com/gleam/pages/forms/validation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Sep 2018 06:27:19 GMT -->
        </html> 